body{
    background-color: #1C1C1C;
}

h1{
    color: #fff;
}

h3{
    color: #fff;
}

.navbar{
    background-color: #0c3d11;
}

 .container{
      margin-top: 1rem;
  }

  /* .album{
      margin-top: 1rem;
  } */
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer h6 {
    margin-bottom: .25rem;
    color: #fff;
  }

  .rodape{
      text-align: center;
  }

  button{
      background: #FFAE00;
      border-radius: 5px;
      padding: 9px; 
      cursor: pointer; 
      color: #000; 
      border: none; 
      font-size: 16px;
  }
